body{
	background-color:#FFFFFF;
	background-image:url('/Style Library/Casablanca/i/bg.png');
	background-repeat:repeat;
	font-family:Arvo, serif;
}

::selection			{ background:#c3effd; color:#000; /* Safari and Opera */ }
::-moz-selection  { background:#c3effd; color:#000; /* Firefox */ }

.s4-ca{
width: 100%;
margin-top:10px;
float: left;
background-color: transparent;
border: 0px solid lightgrey;
border-radius: 5px;
padding:0px;
}

#s4-titlerow{
background:#FFFFFF;
display:none !important;
}

#header{
width:960px;
margin:0 auto;
}

#footer{
width:960px;
margin:0 auto;
}

.mainfoot{
background-color:#dddddd;
height:25px;
overflow:visible;
float:left;
width:100%;
margin-bottom:10px;
}

.footnav{
list-style-type: none;
margin: 0px;
padding: 0px;
float: left;
width: 50%;
}

.socialnav{
width:auto;
float:right;
list-style-type: none;
margin: 0px;
padding: 0px;
}

.socialnav li{
float:left;
margin:0px 5px;
}

.socialnav li span{
text-transform:uppercase;
color:#000000;
font-size:21px;
}

.socialnav li a{
width:42px;
height:42px;
}

.socialnav li a span{
display:block;
background-image:url('/Style Library/Casablanca/i/footersprite.png');
background-repeat:no-repeat;
margin-top:-8px;
}

.facebook:hover{ background-position: 4px 1px;} 
.facebook{ background-position: 0 -46px; width: 42px; height: 42px; } 
.google:hover{ background-position: 4px -96px;} 
.google{ background-position: 0 -143px; width: 42px; height: 42px; } 
.tumblr:hover{ background-position: 4px -192px;} 
.tumblr{ background-position: 0 -240px; width: 42px; height: 42px; } 
.twitter:hover{ background-position: 4px -291px;} 
.twitter{ background-position: 0 -338px; width: 42px; height: 42px; } 
.youtube:hover{ background-position: 4px -389px;} 
.youtube{ background-position: 0 -436px; width: 42px; height: 42px; } 

.copyright{
color: rgb(75, 72, 72);
margin-left: 10px;
}

.footnav li{
float:left;
padding:2px 10px;
border-right:1px solid black;
}

.footnav li:nth-child(1){
border-left:1px solid black;
}

.footnav li a{
color:black;
text-transform:uppercase;
font-size:18px;
transition:all 0.5s;
-webkit-transition:all 0.5s;
-o-transition:all 0.5s;
-moz-transition:all 0.5s;
display:block;
}

.footnav li a:hover{
color:#89174C;
-moz-transform: scale(1.2) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-webkit-transform: scale(1.2) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-o-transform: scale(1.2) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-ms-transform: scale(1.2) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
transform: scale(1.2) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.nav{
margin:0px;
list-style-type:none;
height:166px;
padding:0px;
}

.nav li{
float:left;
width:20%;
text-align:center;
line-height:166px;
}

.nav li a {
text-transform:uppercase;
font-size:25px;
color:white;
text-shadow: 5px 5px 5px #000000;
filter: dropshadow(color=#000000, offx=5, offy=5);
transition:all 0.5s;
-moz-transition:all 0.5s;
-webkit-transition:all 0.5s;
-o-transition:all 0.5s;
}

.nav li a:hover{
font-weight:bold;
text-shadow:0px 0px 0px transparent;
filter:none;
color:black;
}

.bar{
height:9px;
width:960px;
background-color:#89174C;
overflow:visible;
position:absolute;
margin-top:20px;
-webkit-box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.7);        
box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.7);
}

.follower{
z-index:10;
width: 20%;
height: 14px;
background-color: rgb(92, 23, 55);
position: absolute;
left: 40%;
margin-top: -3px;
-webkit-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);
box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);
border-radius: 5px;
}

.design,.develop{
z-index:20;
position:relative;
}

.designtext,.developtext{
	display:none;
	padding:20px;
	color:white;
}

.ms-dlgTitle{
	background-color:#205197;
	background-repeat:repeat;
	border-bottom:2px solid #293b46;
}

div.article, div.welcome{
padding:0px;
}

.ms-acal-apanel-title span{
	color:white;
}

.s4-tn ul.root > li.static > a {
    display:none;
}
body #s4-topheader2{
	background: transparent;
	border:0;
	min-height:0;
	float:left;
}

a.ms-imglibPreviewTitle{
	color:white;
}

#ImgPreviewTable td{
	color:#e85c2c;
}
.ms-titlerowborder{
	border-right:0px;
}


#s4-titlerow{
	overflow: visible;
	height: 65px;
	padding:0px 0px 5px 0px;
}

.s4-title{
	float:none;
	width: 960px;
	margin: 0 auto;
	padding:0px;
	overflow:visible;
}

.s4-toplinks{
	padding-top:0px;
	margin-top:0px;
}

#s4-topheader2 .s4-rp{
	display:none;
}

.s4-titlelogo > img, .s4-titlelogo > a > img{
	height:65px;
}

.s4-toplinks .menu-horizontal{
float: left;
}

.s4-titletable {
width: 960px !important;
float: left;
display: block;
height: 100%;
}

.s4-tn{
	width:1080px;
	margin:0 auto;
}

.s4-widecontentarea{
	width:960px;
	float:none !important;
	margin:0 auto;
	margin-top: 0px;
}

.slogan{
float: left;
font: 18px "Trebuchet MS";
color: #999999;
font-style: italic;
width: 500px;
margin: 65px 0 0 20px;	
}




a:visited{
color:#0072BC;
}

.s4-specialNavLinkList a{
margin-left:0px;
}

a:hover{
text-decoration:none !important;
}


.ms-titlerowborder{
border:0;
}

.s4-title{
background:transparent;
}

html.ms-dialog #s4-leftpanel{
display:none;
}

.ms-dlgTitle{
background-color:#003B79;
}

body #s4-ribbonrow{
background-color:rgb(204, 204, 204);
border-bottom: 1px solid rgb(226, 226, 226);
}


body #s4-leftpanel-content{
background-repeat:repeat-x;
background-position:bottom;
border: 1px solid rgb(153, 161, 165);
border-top-width: 0px;
border-right-width: 2px;
border-bottom-width: 2px;
border-left-width:0px;
border-radius: 10px;
-webkit-border-radius: 10px;
}

.s4-titlelogo{
float:left;
text-align:left;
padding:0px;
}

.s4-toplinks .s4-tn a.selected {
background:transparent !important;
color: #000000 !important;
margin: 0px;
padding:0xp;
}

.selectedFix{
background-color:rgb(255, 173, 0);
}

.s4-toplinks .s4-tn a.selected:hover{
	text-decoration:underline;
}

.s4-toplinks .s4-tn a:hover{
text-decoration:underline;
}

.boxes{
width:400px;
margin:0 auto;
}

.box{
width:100%;
display:block;
float:left;
color:white;
padding:10px;
}

.insurance{
background-color: #42B3E5;
}

.records{
background-color: #0384CE;
}

.billpay{
background-color: #3156A3;
}

.menu .menu-item, .menu .menu-item .additional-background, .menu .menu-item .additional-background .menu-item-text{
font-weight:bold;
}

.s4-tn li.static > a:hover{
color: rgb(119, 197, 181) !important;
background:black;

}


.s4-ql ul.root ul > li:hover{
color: rgb(119, 197, 181) !important;
background-color:rgb(230, 225, 167) !important;

}

.s4-tn li.static > .menu-item {
font: bold 14px Arial;
color: #000000;
border:0px;
transition:color 0.5s,background-color 0.5s;
-webkit-transition:color 0.5s,background-color 0.5s;
-moz-transition:color 0.5s,background-color 0.5s;
-o-transition:color 0.5s,background-color 0.5s;
cursor:pointer;
margin: 0px;
padding: 27px 0px 28px 0px;
text-align:center;
width:100px;
position:relative;
z-index:5;
}

.titletext{
	font-size:9px;
	float:left;
	clear:both;
	margin-top:-25px;
	font-family:Arial, Helvetica, sans-serif;
	z-index:20;
	position:relative;
	padding-top:5px;
	margin-left:5px;
}

.titletext:hover{
	cursor:pointer;
}

.s4-tn li.static > .menu-item:hover .titletext{
	color:white;
}


.s4-tn li.static > .menu-item:hover .titletext{
	color:white;
}

.s4-tn li.static > .menu-item:hover{
color: white !important;
background-color:rgb(255, 173, 0) !important;
}

.s4-tn ul.dynamic{
padding:10px 0px 5px 0px;
width:100%;
background-color:rgb(255, 173, 0);
border:0px !important;
min-width: 200px;
} 

ul.dynamic:before{
	content:url('/Style%20Library/Casablanca/i/topflag.png');
	width:200px;
	height:10px;
	background-color:rgb(75, 75, 75);
	margin-top:-10px;
	padding-left:10px;
	display:block;
	float:left;
	box-shadow: 0 4px 4px rgba(0,0,0,0.4) inset;
}

.s4-tn li.dynamic > .menu-item{
	font: 12px Arial;
	color: #FFFFFF;
	transition:color 0.5s;
	-webkit-transition:color 0.5s;
	-moz-transition:color 0.5s;
	-o-transition:color 0.5s;
	padding:5px;
border-bottom: 1px solid rgb(204, 155, 25);
font-weight:normal !important;
margin: 5px;
}

.s4-tn li.dynamic > .menu-item:hover{
color: black!important;
background:transparent;
text-decoration:underline;
font-weight:bold;
}



.ms-cui-topBar2,.ms-cui-topBar1{
border-color:#39679b;
}

.s4-search .ms-sbtable-ex{
margin-top:6px;
}


.s4-help{
margin-top:8px;
}



.s4-ql ul.root ul > li > a{
padding:0 0 0 18px;
}
.s4-specialNavLinkList{
border:0;
}

.s4-ca{
	margin-left:0px;
}



/*Hides*/


.s4-clust s4-specialNavIcon{
display:none;
}

/*WebPart Pages*/
.s4-wpTopTable{
	margin:0 auto;
}


/*Ribbon Fixes*/

/*Ribbon Hover fixes*/
.ms-siteactionsmenuhover{
border-color: transparent !important;
border-top-color: transparent !important;
background: transparent !important;
background-color: transparent !important;
}

.ms-siteactionsmenuinner{
border-color: transparent !important;
border-top-color: transparent !important;
background: transparent !important;
background-color: transparent !important;
}

.ms-welcomeMenu.ms-SpLinkButtonActive {
border-color: transparent !important;
border-top-color: transparent !important;
background: transparent !important;
background-color: transparent !important;
}

.ms-qatbutton{
background-image: none !important;
background-color: transparent !important;
border-color: transparent !important;
}

.s4-breadcrumb-anchor{
background-image: none !important;
background-color: transparent !important;
border-color: transparent !important;
}

.ms-WPTitle, .ms-WPTitle a {
color: #FFFFFF;
text-transform: uppercase;
font-size: 15px;
}

.headertitle, .headertitle a, .headertitle a:link{
text-transform:uppercase;
color:#FFFFFF !important;
}

.ms-vb a:visited, .ms-vb2 a:visited, .ms-vb-user a:visited{
color:#039 !important;
}

.in,.out{
float:right;
}

.out{
display:none;
}


#s4-titlerow .s4-search input.ms-sbplain {
background-image: none;
border: 1px solid #acc !important;
font: normal 12px Arial, Helvetica, sans-serif;
padding: 2px 0px 2px 5px;
width:200px !important;
margin-right:10px;
-webkit-border-radius: 20px 20px 20px 20px;
border-radius: 20px 20px 20px 20px;
transition:background-color 0.5s;
-webkit-transition:background-color 0.5s;
-o-transition:background-color 0.5s;
-moz-transition:background-color 0.5s;
}

#s4-titlerow .s4-search input.ms-sbplain:hover{
	
background-color:rgb(233, 233, 233);
}

#s4-titlerow .s4-search input.ms-sbplain:focus{
	background-color:rgb(206, 241, 239);
}

#s4-titlerow .ms-sbgo a img {
display: none;
}

#s4-titlerow .ms-sbgo a{
display: block;
width: 33px;
height: 28px;
background-image:url('/Style%20Library/Casablanca/i/search.png');
background-color: transparent;
background-repeat: no-repeat;
background-position: 0 0;
transition:0.5s background-position;
-webkit-transition:0.5s background-position;
}

.searchhover{
background-position:0 -30px;
}


#s4-titlerow .input.s4-searchbox-QueryPrompt{
font-style: normal;
}

#s4-titlerow .s4-search .ms-sbtable-ex {
margin-top: 6px;
background-color: transparent;
border: 0px solid rgb(1, 109, 109);
}

#s4-titlerow .s4-rp {
float: left;
padding: 19px 15px 2px 5px;
margin-left: -210px;
transition:all 1s;
-o-transition:all 1s;
-moz-transition:all 1s;
-webkit-transition:all 1s;
}

.s4-help{
display:none;
}

.menu-horizontal a.dynamic-children span.additional-background, .menu-horizontal span.dynamic-children span.additional-background{
padding-right:0px;
background-image:none;
}

body #s4-leftpanel-content{
background-color: rgb(255, 241, 184);
}

body #s4-leftpanel{
background-color:white;
}

.ms-WPBorder, .ms-WPBorderBorderOnly{
border:0px;
}

.ms-WPBody a:link{
color: rgb(4, 68, 126);
text-decoration: none;
font-weight: bold;
}

.ms-WPBody a:visited{
color: rgb(4, 68, 126);
text-decoration: none;
font-weight: bold;
}

.description{
margin-left:10px;
}

.s4-ql a.selected{
background: transparent;
background-color: transparent;
border-color: transparent !important;
border-top-color: transparent !important;
border-width: 1px !important;
padding-left: 0px !important;
margin-right:40px !important;
color: #e85c2c !important;
}

#s4-leftpanel li{
	transition:all 0.5s;
-webkit-transition:all 0.5s;
-o-transition:all 0.5s;
-moz-transition:all 0.5s;

}

.s4-ql a.selected:hover{
color:#FFCC99;
}

.ms-acal-apanel-title span{
	color:black;
}
.s4-ql ul.root ul > li > a {
padding: 5px 0px 5px 18px;
color:rgb(71, 70, 70);
transition:all 0.5s;
-webkit-transition:all 0.5s;
-o-transition:all 0.5s;
-moz-transition:all 0.5s;
}

.ms-vb a:link, .ms-vb2 a:link, .ms-vb-user a:link{
color:#000;
}

.ms-WPHeader td, .ms-fakewptitle {
border-bottom: 0px;
border-collapse: collapse;
background-color:#858585;
height:32px;
}

.ms-WPTitle, .ms-WPTitle a{
color:#FFFFFF !important;
font-size:15px;
text-transform:none;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
margin-left:0px;
padding:0px;
}

body.v4master{
overflow:auto !important;
}

body #s4-workspace{
overflow:auto;
}

.ms-WPHeader{
background-color:transparent;
}

.s4-ql ul.root > li > .menu-item, .s4-qlheader, .s4-qlheader:visited {
color: rgb(119, 197, 181);
font-weight: bold;
text-transform: none;
text-align: left;
padding: 5px;
margin-top: 0px;
border-width: 0px;
font-family: tahoma;
}

.s4-ql ul.root ul > li > a {
padding: 3px 4px 4px 10px;
border-width: 1px 0px;
border-style: solid;
border-color: transparent;
overflow-x: hidden;
display: block;
zoom: 1;
text-align: right;
text-transform: none;
}

body #s4-leftpanel {
background-color: transparent;
transition:all 05s;
-webkit-transition:all 0.5s;
-o-transition:all 0.5s;
-moz-transition:all 0.5s;
border-radius: 10px;
-webkit-border-radius: 10px;

}

.s4-ql ul.root ul > li > a {
padding: 5px 0px 5px 18px;
color: black;
font-weight: normal;
font-family: tahoma;
margin-right:10px;
transition:all 05s;
-webkit-transition:all 0.5s;
-o-transition:all 0.5s;
-moz-transition:all 0.5s;
}

.s4-ql ul.root ul > li > a :hover,.s4-ql ul.root ul > li > a:hover{
color: #e85c2c;
}

.s4-ql ul.root ul > li > a:hover{
	margin-right:15px;
}

.s4-specialNavLinkList{
display:none;
}

.ms-quickLaunch{
padding-top:0px;
}

body #s4-leftpanel-content{
padding-bottom:0px;
}

.s4-ql, .s4-specialNavLinkList{
margin:0px;
}

#s4-leftpanel{
display:none;;
float:right !important;
width:14% !important;
background-color: white;
border: 1px solid lightgrey;
margin-top:15px;
}

#secondary-navigation {
float: right;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}

#secondary-navigation ul{
margin: 0px 0px 20px 12px;
list-style:none;
}

#secondary-navigation li {
float: left;
background: url('/Style%20Library/Casablanca/i/secondary-navigation-bg.gif') top center no-repeat;
line-height: 28px;
}

#secondary-navigation li.msds a {
color: #e11;
font-weight: bold;
}

#secondary-navigation li a {
text-decoration: none;
padding: 0 1em;
color: #205197;
}

#secondary-navigation li.msds {
background-position: 0 0;
}

#secondary-navigation li {
line-height: 28px;
}


#secondary-navigation li.compounds-under-development {
background-position: top right;
}

.s4-titletable{
	width:auto;
	float:left;
}

.link-item a:visited, .link-item a:active,.link-item a{
	color:black !important;
}

tr.ms-WPHeader td {
/*background: #fb4f14;*/
border-style: none; 
}

.s4-wpcell:hover .ms-WPHeader td, .s4-wpActive .ms-WPHeader td, .s4-wpcell .ms-WPSelected .ms-WPHeader td { 
border-style: none; 
} 

tr.ms-WPHeader td.ms-wpTdSpace { 
padding: 0;
width: 27px;
background: url('/Style%20Library/Casablanca/i/WBRight.png') no-repeat right top;
}

tr.ms-WPHeader td.ms-wpTdSpace:first-child {
background: url('/Style%20Library/Casablanca/i/WBleft.png') no-repeat left top;
}

h3.ms-WPTitle { 
color: #fff;
font-weight: bold;
}

h3.ms-WPTitle a:link, h3.ms-WPTitle a:active, h3.ms-WPTitle a:visited, h3.ms-WPTitle a:hover { 
color: #fff; 
}

.ms-wpContentDivSpace {
margin: 0;
background-color:white;
}

td.ms-WPBorder, td.ms-WPBorderBorderOnly { 
border-color: #eee; 
border-top-style: none;
}

#WebPartTitleWPQ4{
	background-image:url('http://poc.mwc.ms/Style%20Library/Casablanca/i/Documents.png');
	background-repeat:no-repeat;
	background-position:center right;	
}

#WebPartTitleWPQ5{
	background-image:url('http://poc.mwc.ms/Style%20Library/Casablanca/i/Out.png');
	background-repeat:no-repeat;
	background-position:center right;	
}


#WebPartTitleWPQ6{
	background-image:url('http://poc.mwc.ms/Style%20Library/Casablanca/i/User.png');
	background-repeat:no-repeat;
	background-position:center right;	
}

#WebPartTitleWPQ3{
	background-image:url('http://poc.mwc.ms/Style%20Library/Casablanca/i/Allvoices.png');
	background-repeat:no-repeat;
	background-position:center right;
}

.s4-tn {
width: 800px;
margin: 0 auto;
float: right;
}

.s4-toplinks .menu-horizontal{
	float:right;
}

#s4-titlerow{
border-top: 5px solid rgb(255, 173, 0);
}

body #s4-ribbonrow {
background-color: rgb(75, 75, 75);
border-bottom: 0px;
}

#subnav{
display:none;
background:rgb(75, 75, 75);
padding:5px;
box-shadow: 0 4px 4px rgba(0,0,0,0.4) inset;
}

.subnavcontent{
	width: 960px;
	margin:0 auto;
}

.s4-titletext h1{
padding:0px;
margin:0px;
float:left;
}

.s4-titletext h2{
padding:0px;
margin:6px;
float:right;
}


.s4-titletext h2{
	color:white;
	font-weight:normal;
	font-size:12px;
}

.s4-titletext h2 a{
	color:white;
	font-weight:bold;
	font-size:12px;
}

.s4-pagedescription{
	color:rgb(241, 183, 32);
	margin-left:10px;
}


.s4-titletext h1 a{
	color:white;
	font-weight:normal;
}

.s4-titlesep{
	display:none;
}

#boxcontainer{
width:100%;
height:490px;
background-image:url('/Style%20Library/Casablanca/i/surfacebg.jpg');
}

.row1{
width:100%;
height:215px;
float:left;
padding:10px;
}

.text{
position: absolute;
top: 15%;
right: 10%;
}


.row2{
width:100%;
height:215px;
float:left;
padding:10px;
}

.row1 .box,.row2 .box{
height: 205px;
width: 205px;
float: left;
background-color: transparent;
padding: 0px;
overflow: hidden;
margin: 10px;
border: 5px solid rgb(141, 177, 197);
position: relative;
cursor: pointer;
}

.box img{
max-width:400%;
transition:all 0.5s;
-moz-transition:all 0.5s;
-webkit-transition:all 0.5s;
-o-transition:all 0.5s;
}

.box:hover img{
max-width:100%;
}

.description{
position:absolute;
bottom:-40%;
margin:0px;
width:100%;
transition:all 0.5s;
-moz-transition:all 0.5s;
-webkit-transition:all 0.5s;
-o-transition:all 0.5s;
}

.description p,.description span{
margin:5px;
}

.box:hover .description{
bottom:0%;
}

.even{
background-color:rgb(108,190,66);
background-color:rgba(108,190,66,.87);
}

.odd{
background-color:rgb(87,186,232);
background-color:rgba(87,186,232,.87);
}

.hidden{
position:absolute;
bottom:-95%;
}

@media only screen and (max-width:1100px){
	#s4-titlerow .s4-rp{
	display:none;
}
}


/*Slider*/

#slidercontainer{
width:960px;
max-height:316px;

background-repeat:repeat-x;
background-position:0 0;
margin-top:-13px;
overflow:hidden;
position:relative;
}

#slidercontent{
width:200%;
height:100%;
float:left;
}

.slide1,.slide2,.slide3,.slide4{
height:100%;
float:left;
width:50%;
}


.text{
display:none;
top: 35%;
right: 1%;
}

.text h1{
padding:10px;
background:#89174C;
color:white;
width:auto;
}

.text p{
padding:10px;
background:#89174C;
color:white;
width:300px;
}

.text span{
padding:10px;
background:#89174C;
color:white;
margin-top:20px;
margin-left:20px;
}

.columncontent{
margin-top:20px;
font-family:Arvo, serif;
}

.columncontent p {
text-indent: 1.5em;
margin: 0px 20px 10px 20px;
font-size:14px;
}

.phone,.tablet,.monitor{
background-image:url('/Style Library/Casablanca/i/devicesprite.png');
background-repeat:no-repeat;
height:128px;
width:128px;
display:block;
margin:0 auto;
}


.text{
display:block;
position:relative;z-index:15;
top:25%;
left:60%;
width:300px;
}

.text h1{
padding:10px;
background:#89174C;
color:white;
width:auto;
}

.text p{
    margin-bottom:20px;}

.content{z-index:10;margin-top:-150px;
position:relative;
}

.text p{
padding:10px;
background:#89174C;
color:white;
width:300px;
}

.phone{ background-position: 0 0; width: 128px; height: 128px; } 
.phone:hover{ background-position: 0 -138px; width: 128px; height: 128px; } 
.monitor{ background-position: 0 -276px; width: 128px; height: 128px; } 
.monitor:hover{ background-position: 0 -414px; width: 128px; height: 128px; } 
.tablet{ background-position: 0 -552px; width: 128px; height: 128px; } 
.tablet:hover{ background-position: 0 -690px; width: 128px; height: 128px; } 